h1{
  color: white;
  font-family: 'Poppins';
  font-style: bold;
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}
h2{
  color: white;
  font-family: 'Poppins';
  font-style: bold;
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}
p{
  color: white;
  font-family: 'Poppins';
  font-style: bold;
  text-align: center;
  margin-top: 2em;
}
nav{
  border-radius: rgb(124, 117, 85);
  border-bottom: 3px solid rgb(236, 236, 223);
}
body{
  background-color: rgb(214, 191, 86);
  box-sizing: border-box;
}

div{
  text-align: center;
}

table{
  border:1px solid rgb(213, 248, 213);
  color: aliceblue;
}